img {
    display: block;
    position: relative;
    width: 10%;
}

#nav {
    background: lightgray;
    padding: 5px 0;
    text-align: center;
}

nav ul  {
    list-style-type: none;
}

nav li {
    display: inline;  
}

nav ul a {
    text-decoration: none;
    color: blue;
    padding: 0 5px;
    text-transform: uppercase;
}

footer {
    background-color: #0062b0;
    text-align: center;
    color: whitesmoke;
}

#original {
color: whitesmoke;
}